In [157]:
import pandas as pd

users = pd.read_csv('ml-100k/u.user', sep='|', encoding='latin-1', names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])
items = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', names=['item_id', 'title', 'release_date', 'video_release_date', 'imdb_url', 'unknown', 'action', 'adventure', 'animation', 'children', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller', 'war', 'western'])
ratings = pd.read_csv('ml-100k/u.data', sep='\t', header=None, names=['user_id', 'item_id', 'rating', 'timestamp'])

In [174]:
ratings

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [254]:
import pandas as pd

# Get number of ratings per item
temp = ratings.groupby('item_id').size()

# Filter item_ids with more than 200 ratings
frequent_item_ids = temp[temp > 100].index

# Choose popular and less popular movies
popular = items[items['item_id'].isin(frequent_item_ids)]
less_popular = items[~items['item_id'].isin(frequent_item_ids)]

# Combine a balanced set of popular and less popular movies
sampled_movies = pd.concat([
    popular.sample(n=min(len(popular), 500), random_state=42),
    less_popular.sample(n=min(len(less_popular), 500), random_state=42)
])

# Get all genre columns
genre_cols = [
    'unknown', 'action', 'adventure', 'animation', 'children', 'comedy', 'crime',
    'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery',
    'romance', 'sci_fi', 'thriller', 'war', 'western'
]

# For each genre, sample N movies (without replacement across genres)
N = 10  # number of movies per genre
genre_samples = []
used_indices = set()

for genre in genre_cols:
    # Filter out already used movies to avoid duplicates
    available_movies = sampled_movies[~sampled_movies.index.isin(used_indices)]

    genre_movies_popular = available_movies[
        (available_movies[genre] == 1) &
        (available_movies['item_id'].isin(frequent_item_ids))
    ]

    genre_movies_less_popular = available_movies[
        (available_movies[genre] == 1) &
        (~available_movies['item_id'].isin(frequent_item_ids))
    ]

    sample_popular = genre_movies_popular.sample(n=min(N // 2, len(genre_movies_popular)), random_state=42)
    sample_less_popular = genre_movies_less_popular.sample(n=min(N // 2, len(genre_movies_less_popular)), random_state=42)

    sample = pd.concat([sample_popular, sample_less_popular])
    genre_samples.append(sample)
    used_indices.update(sample.index)

# Combine all genre samples for final sampled_movies (ensures both popularity and genre diversity)
sampled_movies = pd.concat(genre_samples).drop_duplicates(subset='item_id')

# Include genre tags in the prompt
sampled_movies['genres'] = sampled_movies[genre_cols].apply(
    lambda row: [g for g, v in row.items() if v == 1],
    axis=1
)

titles_and_genres_string = sampled_movies[['title', 'genres']].to_dict(orient='records')

titles_string = '; '.join([f"{movie['title']} ({', '.join(movie['genres'])})" for movie in movie_dicts])

In [255]:
sampled_movies

,item_id,title,release_date,video_release_date,imdb_url,unknown,action,adventure,animation,children,...,film_noir,horror,musical,mystery,romance,sci_fi,thriller,war,western,genres
116,117,"Rock, The (1996)",07-Jun-1996,NaN,"http://us.imdb.com/M/title-exact?Rock,%20The%2...",0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,"[action, adventure, thriller]"
229,230,Star Trek IV: The Voyage Home (1986),01-Jan-1986,NaN,http://us.imdb.com/M/title-exact?Star%20Trek%2...,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,"[action, adventure, sci_fi]"
117,118,Twister (1996),10-May-1996,NaN,http://us.imdb.com/M/title-exact?Twister%20(1996),0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,"[action, adventure, thriller]"
244,245,"Devil's Own, The (1997)",26-Mar-1997,NaN,http://us.imdb.com/M/title-exact?Devil%27s%20O...,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,"[action, drama, thriller, war]"
545,546,Broken Arrow (1996),09-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Broken%20Arro...,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,"[action, thriller]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,621,"Davy Crockett, King of the Wild Frontier (1955)",01-Jan-1955,NaN,http://us.imdb.com/M/title-exact?Davy%20Crocke...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,[western]
1586,1587,Terror in a Texas Town (1958),01-Jan-1958,NaN,http://us.imdb.com/M/title-exact?Terror%20in%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,[western]
574,575,City Slickers II: The Legend of Curly's Gold (...,01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?City%20Slicke...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"[comedy, western]"
839,840,Last Man Standing (1996),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Last%20Man%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,"[action, drama, western]"
588,589,"Wild Bunch, The (1969)",01-Jan-1969,NaN,"http://us.imdb.com/M/title-exact?Wild%20Bunch,...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,[western]

In [256]:
movies_with_many_ratings

,item_id,title,release_date,video_release_date,imdb_url,unknown,action,adventure,animation,children,...,fantasy,film_noir,horror,musical,mystery,romance,sci_fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,603,Rear Window (1954),01-Jan-1954,NaN,http://us.imdb.com/M/title-exact?Rear%20Window...,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
654,655,Stand by Me (1986),01-Jan-1986,NaN,http://us.imdb.com/M/title-exact?Stand%20by%20...,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
677,678,Volcano (1997),25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Volcano%20%28...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
741,742,Ransom (1996),08-Nov-1996,NaN,http://us.imdb.com/M/title-exact?Ransom%20(1996),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
747,748,"Saint, The (1997)",14-Mar-1997,NaN,http://us.imdb.com/M/title-exact?Saint%2C%20Th...,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [257]:
titles_string

"Rock, The (1996) (action, adventure, thriller); Star Trek IV: The Voyage Home (1986) (action, adventure, sci_fi); Twister (1996) (action, adventure, thriller); Devil's Own, The (1997) (action, drama, thriller, war); Broken Arrow (1996) (action, thriller); Sudden Death (1995) (action); Men With Guns (1997) (action, drama); Jerky Boys, The (1994) (action, comedy); Mirage (1995) (action, thriller); Bloodsport 2 (1995) (action); Lost World: Jurassic Park, The (1997) (action, adventure, sci_fi, thriller); Ben-Hur (1959) (action, adventure, drama); Wizard of Oz, The (1939) (adventure, children, drama, musical); Edge, The (1997) (adventure, thriller); Clear and Present Danger (1994) (action, adventure, thriller); Far From Home: The Adventures of Yellow Dog (1995) (adventure, children); Golden Earrings (1947) (adventure, romance); Fled (1996) (action, adventure); Kull the Conqueror (1997) (action, adventure); Flipper (1996) (adventure, children); Lion King, The (1994) (animation, children, musical); Wrong Trousers, The (1993) (animation, comedy); Beauty and the Beast (1991) (animation, children, musical); Aladdin (1992) (animation, children, comedy, musical); Dumbo (1941) (animation, children, musical); Pocahontas (1995) (animation, children, musical, romance); Pagemaster, The (1994) (action, adventure, animation, children, fantasy); Swan Princess, The (1994) (animation, children); Sword in the Stone, The (1963) (animation, children); Gumby: The Movie (1995) (animation, children); Fly Away Home (1996) (adventure, children); James and the Giant Peach (1996) (animation, children, musical); Willy Wonka and the Chocolate Factory (1971) (adventure, children, comedy); Nightmare Before Christmas, The (1993) (children, comedy, musical); Babe (1995) (children, comedy, drama); Herbie Rides Again (1974) (adventure, children, comedy); Super Mario Bros. (1993) (action, adventure, children, sci_fi); Hercules (1997) (adventure, animation, children, comedy, musical); So Dear to My Heart (1949) (children, drama); Bedknobs and Broomsticks (1971) (adventure, children, musical); North by Northwest (1959) (comedy, thriller); Birdcage, The (1996) (comedy); 101 Dalmatians (1996) (children, comedy); Multiplicity (1996) (comedy); Mask, The (1994) (comedy, crime, fantasy); Two if by Sea (1996) (comedy, romance); Meet Wally Sparks (1997) (comedy); Vegas Vacation (1997) (comedy); Private Parts (1997) (comedy, drama); Space Jam (1996) (adventure, animation, children, comedy, fantasy); Grosse Pointe Blank (1997) (comedy, crime); Sleepers (1996) (crime, drama); L.A. Confidential (1997) (crime, film_noir, mystery, thriller); Jackie Brown (1997) (crime, drama); Professional, The (1994) (crime, drama, romance, thriller); Set It Off (1996) (action, crime); Menace II Society (1993) (action, crime, drama); Dead Presidents (1995) (action, crime, drama); Big Lebowski, The (1998) (comedy, crime, mystery, thriller); Hard Target (1993) (action, adventure, crime, thriller); Hoop Dreams (1994) (documentary); Haunted World of Edward D. Wood Jr., The (1995) (documentary); Fire on the Mountain (1996) (documentary); Paradise Lost: The Child Murders at Robin Hood Hills (1996) (documentary); Thin Blue Line, The (1988) (documentary); JLG/JLG - autoportrait de dÃ©cembre (1994) (documentary, drama); Citizen Kane (1941) (drama); Mr. Holland's Opus (1995) (drama); Sex, Lies, and Videotape (1989) (drama); GoodFellas (1990) (crime, drama); Big Night (1996) (drama); Priest (1994) (drama); Drunks (1995) (drama); Swimming with Sharks (1995) (comedy, drama); Nelly & Monsieur Arnaud (1995) (drama); Unhook the Stars (1996) (drama); E.T. the Extra-Terrestrial (1982) (children, drama, fantasy, sci_fi); Nutty Professor, The (1996) (comedy, fantasy, romance, sci_fi); Dragonheart (1996) (action, adventure, fantasy); NeverEnding Story III, The (1994) (children, fantasy); Kazaam (1996) (children, comedy, fantasy); Kid in King Arthur's Court, A (1995) (adventure, children, comedy, fantasy, romance, sci_fi); Bogus (1996) (children, drama, fantasy); Jumanji (1995) (action, adventure, children, fantasy, sci_fi); Blade Runner (1982) (film_noir, sci_fi); Maltese Falcon, The (1941) (film_noir, mystery); Chinatown (1974) (film_noir, mystery, thriller); Manchurian Candidate, The (1962) (film_noir, thriller); Cape Fear (1962) (film_noir, thriller); Grifters, The (1990) (crime, drama, film_noir); Mulholland Falls (1996) (crime, film_noir, thriller); Big Sleep, The (1946) (film_noir, mystery); Hoodlum (1997) (crime, drama, film_noir); Jaws (1975) (action, horror); Interview with the Vampire (1994) (drama, horror); Shining, The (1980) (horror); Scream 2 (1997) (horror, thriller); Craft, The (1996) (drama, horror); Wishmaster (1997) (horror); Cemetery Man (Dellamorte Dellamore) (1994) (comedy, horror); Loch Ness (1995) (horror, thriller); Tales From the Crypt Presents: Demon Knight (1995) (horror); I Know What You Did Last Summer (1997) (horror, mystery, thriller); Hunchback of Notre Dame, The (1996) (animation, children, musical); Fantasia (1940) (animation, children, musical); Singin' in the Rain (1952) (musical, romance); Mary Poppins (1964) (children, comedy, musical); Snow White and the Seven Dwarfs (1937) (animation, children, musical); Madame Butterfly (1995) (musical); Top Hat (1935) (comedy, musical, romance); Gigi (1958) (musical); American in Paris, An (1951) (musical, romance); Dirty Dancing (1987) (musical, romance); 2001: A Space Odyssey (1968) (drama, mystery, sci_fi, thriller); Conspiracy Theory (1997) (action, mystery, romance, thriller); Cop Land (1997) (crime, drama, mystery); Event Horizon (1997) (action, mystery, sci_fi, thriller); Murder at 1600 (1997) (mystery, thriller); Client, The (1994) (drama, mystery, thriller); Just Cause (1995) (mystery, thriller); Wild Things (1998) (crime, drama, mystery, thriller); Stalker (1979) (mystery, sci_fi); Third Man, The (1949) (mystery, thriller); True Romance (1993) (action, crime, romance); Jerry Maguire (1996) (drama, romance); Emma (1996) (drama, romance); Top Gun (1986) (action, romance); Casablanca (1942) (drama, romance, war); In Love and War (1996) (romance, war); Up Close and Personal (1996) (drama, romance); 1-900 (1994) (romance); Big Blue, The (Grand bleu, Le) (1988) (adventure, romance); Mirror Has Two Faces, The (1996) (comedy, romance); Return of the Jedi (1983) (action, adventure, romance, sci_fi, war); Aliens (1986) (action, sci_fi, thriller, war); Clockwork Orange, A (1971) (sci_fi); Army of Darkness (1993) (action, adventure, comedy, horror, sci_fi); Contact (1997) (drama, sci_fi); Coneheads (1993) (comedy, sci_fi); Time Tracers (1995) (action, adventure, sci_fi); Body Snatchers (1993) (horror, sci_fi, thriller); Robert A. Heinlein's The Puppet Masters (1994) (horror, sci_fi); Nemesis 2: Nebula (1995) (action, sci_fi, thriller); Fargo (1996) (crime, drama, thriller); Reservoir Dogs (1992) (crime, thriller); Speed (1994) (action, romance, thriller); Eraser (1996) (action, thriller); Crimson Tide (1995) (drama, thriller, war); Hard Eight (1996) (crime, thriller); Malice (1993) (thriller); Hostile Intentions (1994) (action, drama, thriller); Witness (1985) (drama, romance, thriller); Last Supper, The (1995) (drama, thriller); Boot, Das (1981) (action, drama, war); Patton (1970) (drama, war); M*A*S*H (1970) (comedy, war); Schindler's List (1993) (drama, war); Glory (1989) (action, drama, war); Colonel Chabert, Le (1994) (drama, romance, war); In the Army Now (1994) (comedy, war); For Whom the Bell Tolls (1943) (adventure, war); Heaven & Earth (1993) (action, drama, war); Rob Roy (1995) (drama, romance, war); Young Guns (1988) (action, comedy, western); Butch Cassidy and the Sundance Kid (1969) (action, comedy, western); Tombstone (1993) (western); Magnificent Seven, The (1954) (action, drama, western); Maverick (1994) (action, comedy, western); Davy Crockett, King of the Wild Frontier (1955) (western); Terror in a Texas Town (1958) (western); City Slickers II: The Legend of Curly's Gold (1994) (comedy, western); Last Man Standing (1996) (action, drama, western); Wild Bunch, The (1969) (western)"

In [258]:
random_users = users.sample(20, random_state=42)
random_users_list = random_users[['user_id', 'age', 'gender', 'occupation', 'zip_code']].to_dict(orient='records')

In [296]:
prompt = f"""
You are a movie recommendation assistant tasked with simulating user preferences in a movie rating system.

You will be given:
- A list of movie entries: each includes a title and genre tags.
- A list of user profiles: each has a user ID, age, gender, occupation, and zip code.

Your job is to:
1. For each user, select **10 movies** that you believe they are **likely to have watched and rated** based on their demographic.
2. Choose movies that reflect a balance of:
   - Personal relevance (based on age, gender, occupation).
   - Diversity (include a mix of genres, not only favorites).
   - Popularity (some well-known and some lesser-known movies).

3. For each selected movie, assign a **realistic rating (1â€“5)**:
   - Users should have a mix of strong likes (4â€“5), dislikes (1â€“2), and average opinions (3).
   - Donâ€™t make every rating a 5. Include a natural variance.
   - Some ratings should reflect random personal taste or emotional bias.

Return your result in **JSON format**, using this structure:

[
  {{
    "user_id": ...,
    "recommendations": [
      {{"title": "...", "rating": ...}},
      ...
    ]
  }},
  ...
]

NOTE: the movie titles should be exactly in the format provided below, including things like the word "The" at the end of the title after the rest of the title


The movie titles are as follows:
{titles_string}

The user profiles are as follows:
{random_users_list}

"""

In [ ]:
from google import genai

client = genai.Client(api_key="")

response = client.models.generate_content(
    model="gemini-2.0-flash",
    contents=prompt,
)

print(response.text)

```json
[
  {
    "user_id": 97,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "Citizen Kane (1941)", "rating": 3},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Singin' in the Rain (1952)", "rating": 3},
      {"title": "North by Northwest (1959)", "rating": 4},
      {"title": "Blade Runner (1982)", "rating": 4},
      {"title": "Third Man, The (1949)", "rating": 3},
      {"title": "Wizard of Oz, The (1939)", "rating": 5}
    ]
  },
  {
    "user_id": 266,
    "recommendations": [
      {"title": "Wizard of Oz, The (1939)", "rating": 5},
      {"title": "Beauty and the Beast (1991)", "rating": 4},
      {"title": "Mr. Holland's Opus (1995)", "rating": 4},
      {"title": "Emma (1996)", "rating": 5},
      {"title": "Casablanca (1942)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 4},
      {"title": "Singin' in the Rain (1952)", "rating": 5},
      {"title": "Citizen Kane (1941)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 3},
      {"title": "Star Trek IV: The Voyage Home (1986)", "rating": 4}
    ]
  },
  {
    "user_id": 811,
    "recommendations": [
      {"title": "Lion King, The (1994)", "rating": 4},
      {"title": "Pocahontas (1995)", "rating": 3},
      {"title": "Mr. Holland's Opus (1995)", "rating": 5},
      {"title": "Jerry Maguire (1996)", "rating": 4},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Contact (1997)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5}
    ]
  },
  {
    "user_id": 24,
    "recommendations": [
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 3},
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "Pocahontas (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Private Parts (1997)", "rating": 3}
    ]
  },
  {
    "user_id": 31,
    "recommendations": [
      {"title": "Reservoir Dogs (1992)", "rating": 5},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Professional, The (1994)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 5},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Blade Runner (1982)", "rating": 4},
      {"title": "Rock, The (1996)", "rating": 3},
      {"title": "Army of Darkness (1993)", "rating": 4},
      {"title": "Mask, The (1994)", "rating": 3}
    ]
  },
  {
    "user_id": 281,
    "recommendations": [
      {"title": "Lion King, The (1994)", "rating": 5},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Space Jam (1996)", "rating": 4},
      {"title": "101 Dalmatians (1996)", "rating": 4},
      {"title": "Pocahontas (1995)", "rating": 3},
      {"title": "Hercules (1997)", "rating": 4},
      {"title": "Nightmare Before Christmas, The (1993)", "rating": 4},
      {"title": "Jumanji (1995)", "rating": 3},
      {"title": "I Know What You Did Last Summer (1997)", "rating": 3},
      {"title": "Fly Away Home (1996)", "rating": 5}
    ]
  },
  {
    "user_id": 569,
    "recommendations": [
      {"title": "Mr. Holland's Opus (1995)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Contact (1997)", "rating": 4},
      {"title": "Crimson Tide (1995)", "rating": 4},
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 3},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "Magnificent Seven, The (1954)", "rating": 3}
    ]
  },
  {
    "user_id": 260,
    "recommendations": [
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "North by Northwest (1959)", "rating": 4},
      {"title": "Singin' in the Rain (1952)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 3},
      {"title": "Mirror Has Two Faces, The (1996)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5}
    ]
  },
  {
    "user_id": 332,
    "recommendations": [
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Space Jam (1996)", "rating": 5},
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Army of Darkness (1993)", "rating": 4},
      {"title": "Coneheads (1993)", "rating": 3},
      {"title": "Super Mario Bros. (1993)", "rating": 2},
      {"title": "Big Lebowski, The (1998)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4}
    ]
  },
  {
    "user_id": 324,
    "recommendations": [
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 3},
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "Pocahontas (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Private Parts (1997)", "rating": 3}
    ]
  },
  {
    "user_id": 423,
    "recommendations": [
      {"title": "Butch Cassidy and the Sundance Kid (1969)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 5},
      {"title": "Third Man, The (1949)", "rating": 4},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "Magnificent Seven, The (1954)", "rating": 4},
      {"title": "Casablanca (1942)", "rating": 5},
      {"title": "2001: A Space Odyssey (1968)", "rating": 4},
      {"title": "Patton (1970)", "rating": 3},
      {"title": "Boot, Das (1981)", "rating": 3},
      {"title": "Rock, The (1996)", "rating": 3}
    ]
  },
  {
    "user_id": 468,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 5},
      {"title": "Star Trek IV: The Voyage Home (1986)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4},
      {"title": "Blade Runner (1982)", "rating": 5},
      {"title": "2001: A Space Odyssey (1968)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Speed (1994)", "rating": 4},
      {"title": "Event Horizon (1997)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 3}
    ]
  },
  {
    "user_id": 287,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Speed (1994)", "rating": 5},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Top Gun (1986)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 3},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Private Parts (1997)", "rating": 2}
    ]
  },
  {
    "user_id": 894,
    "recommendations": [
      {"title": "Mr. Holland's Opus (1995)", "rating": 5},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Magnificent Seven, The (1954)", "rating": 4},
      {"title": "Third Man, The (1949)", "rating": 3},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "To Kill a Mockingbird (1962)", "rating": 5},
      {"title": "Contact (1997)", "rating": 4},
      {"title": "Patton (1970)", "rating": 3}
    ]
  },
  {
    "user_id": 869,
    "recommendations": [
      {"title": "Big Lebowski, The (1998)", "rating": 5},
      {"title": "Reservoir Dogs (1992)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Blade Runner (1982)", "rating": 4},
      {"title": "Army of Darkness (1993)", "rating": 4},
      {"title": "Coneheads (1993)", "rating": 3},
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4}
    ]
  },
  {
    "user_id": 639,
    "recommendations": [
      {"title": "Citizen Kane (1941)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 5},
      {"title": "Third Man, The (1949)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "Jerry Maguire (1996)", "rating": 3},
      {"title": "Singin' in the Rain (1952)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 3}
    ]
  },
  {
    "user_id": 539,
    "recommendations": [
      {"title": "Casablanca (1942)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 5},
      {"title": "Third Man, The (1949)", "rating": 4},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Singin' in the Rain (1952)", "rating": 4},
      {"title": "Wizard of Oz, The (1939)", "rating": 5},
      {"title": "Aladdin (1992)", "rating": 3}
    ]
  },
  {
    "user_id": 500,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 4},
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Speed (1994)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4},
      {"title": "Private Parts (1997)", "rating": 3}
    ]
  },
  {
    "user_id": 482,
    "recommendations": [
      {"title": "Space Jam (1996)", "rating": 4},
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Pocahontas (1995)", "rating": 3},
      {"title": "Lion King, The (1994)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 4},
      {"title": "I Know What You Did Last Summer (1997)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 4},
      {"title": "Titanic (1997)", "rating": 5},
      {"title": "Nightmare Before Christmas, The (1993)", "rating": 4}
    ]
  },
  {
    "user_id": 335,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 5},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Patton (1970)", "rating": 3},
      {"title": "Casablanca (1942)", "rating": 4},
      {"title": "Clear and Present Danger (1994)", "rating": 4}
    ]
  }
]
```

In [301]:
text_response = response.text
print(text_response)

```json
[
  {
    "user_id": 97,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "Citizen Kane (1941)", "rating": 3},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Singin' in the Rain (1952)", "rating": 3},
      {"title": "North by Northwest (1959)", "rating": 4},
      {"title": "Blade Runner (1982)", "rating": 4},
      {"title": "Third Man, The (1949)", "rating": 3},
      {"title": "Wizard of Oz, The (1939)", "rating": 5}
    ]
  },
  {
    "user_id": 266,
    "recommendations": [
      {"title": "Wizard of Oz, The (1939)", "rating": 5},
      {"title": "Beauty and the Beast (1991)", "rating": 4},
      {"title": "Mr. Holland's Opus (1995)", "rating": 4},
      {"title": "Emma (1996)", "rating": 5},
      {"title": "Casablanca (1942)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 4},
      {"title": "Singin' in the Rain (1952)", "rating": 5},
      {"title": "Citizen Kane (1941)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 3},
      {"title": "Star Trek IV: The Voyage Home (1986)", "rating": 4}
    ]
  },
  {
    "user_id": 811,
    "recommendations": [
      {"title": "Lion King, The (1994)", "rating": 4},
      {"title": "Pocahontas (1995)", "rating": 3},
      {"title": "Mr. Holland's Opus (1995)", "rating": 5},
      {"title": "Jerry Maguire (1996)", "rating": 4},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Contact (1997)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5}
    ]
  },
  {
    "user_id": 24,
    "recommendations": [
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 3},
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "Pocahontas (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Private Parts (1997)", "rating": 3}
    ]
  },
  {
    "user_id": 31,
    "recommendations": [
      {"title": "Reservoir Dogs (1992)", "rating": 5},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Professional, The (1994)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 5},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Blade Runner (1982)", "rating": 4},
      {"title": "Rock, The (1996)", "rating": 3},
      {"title": "Army of Darkness (1993)", "rating": 4},
      {"title": "Mask, The (1994)", "rating": 3}
    ]
  },
  {
    "user_id": 281,
    "recommendations": [
      {"title": "Lion King, The (1994)", "rating": 5},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Space Jam (1996)", "rating": 4},
      {"title": "101 Dalmatians (1996)", "rating": 4},
      {"title": "Pocahontas (1995)", "rating": 3},
      {"title": "Hercules (1997)", "rating": 4},
      {"title": "Nightmare Before Christmas, The (1993)", "rating": 4},
      {"title": "Jumanji (1995)", "rating": 3},
      {"title": "I Know What You Did Last Summer (1997)", "rating": 3},
      {"title": "Fly Away Home (1996)", "rating": 5}
    ]
  },
  {
    "user_id": 569,
    "recommendations": [
      {"title": "Mr. Holland's Opus (1995)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Contact (1997)", "rating": 4},
      {"title": "Crimson Tide (1995)", "rating": 4},
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 3},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "Magnificent Seven, The (1954)", "rating": 3}
    ]
  },
  {
    "user_id": 260,
    "recommendations": [
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "North by Northwest (1959)", "rating": 4},
      {"title": "Singin' in the Rain (1952)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 3},
      {"title": "Mirror Has Two Faces, The (1996)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5}
    ]
  },
  {
    "user_id": 332,
    "recommendations": [
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Space Jam (1996)", "rating": 5},
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Army of Darkness (1993)", "rating": 4},
      {"title": "Coneheads (1993)", "rating": 3},
      {"title": "Super Mario Bros. (1993)", "rating": 2},
      {"title": "Big Lebowski, The (1998)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4}
    ]
  },
  {
    "user_id": 324,
    "recommendations": [
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 3},
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "Pocahontas (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Private Parts (1997)", "rating": 3}
    ]
  },
  {
    "user_id": 423,
    "recommendations": [
      {"title": "Butch Cassidy and the Sundance Kid (1969)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 5},
      {"title": "Third Man, The (1949)", "rating": 4},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "Magnificent Seven, The (1954)", "rating": 4},
      {"title": "Casablanca (1942)", "rating": 5},
      {"title": "2001: A Space Odyssey (1968)", "rating": 4},
      {"title": "Patton (1970)", "rating": 3},
      {"title": "Boot, Das (1981)", "rating": 3},
      {"title": "Rock, The (1996)", "rating": 3}
    ]
  },
  {
    "user_id": 468,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 5},
      {"title": "Star Trek IV: The Voyage Home (1986)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4},
      {"title": "Blade Runner (1982)", "rating": 5},
      {"title": "2001: A Space Odyssey (1968)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Speed (1994)", "rating": 4},
      {"title": "Event Horizon (1997)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 3}
    ]
  },
  {
    "user_id": 287,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Speed (1994)", "rating": 5},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Top Gun (1986)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 3},
      {"title": "Big Lebowski, The (1998)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 3},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Private Parts (1997)", "rating": 2}
    ]
  },
  {
    "user_id": 894,
    "recommendations": [
      {"title": "Mr. Holland's Opus (1995)", "rating": 5},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Magnificent Seven, The (1954)", "rating": 4},
      {"title": "Third Man, The (1949)", "rating": 3},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "To Kill a Mockingbird (1962)", "rating": 5},
      {"title": "Contact (1997)", "rating": 4},
      {"title": "Patton (1970)", "rating": 3}
    ]
  },
  {
    "user_id": 869,
    "recommendations": [
      {"title": "Big Lebowski, The (1998)", "rating": 5},
      {"title": "Reservoir Dogs (1992)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Blade Runner (1982)", "rating": 4},
      {"title": "Army of Darkness (1993)", "rating": 4},
      {"title": "Coneheads (1993)", "rating": 3},
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4}
    ]
  },
  {
    "user_id": 639,
    "recommendations": [
      {"title": "Citizen Kane (1941)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 5},
      {"title": "Third Man, The (1949)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "Jerry Maguire (1996)", "rating": 3},
      {"title": "Singin' in the Rain (1952)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 3}
    ]
  },
  {
    "user_id": 539,
    "recommendations": [
      {"title": "Casablanca (1942)", "rating": 5},
      {"title": "North by Northwest (1959)", "rating": 5},
      {"title": "Third Man, The (1949)", "rating": 4},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Emma (1996)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Singin' in the Rain (1952)", "rating": 4},
      {"title": "Wizard of Oz, The (1939)", "rating": 5},
      {"title": "Aladdin (1992)", "rating": 3}
    ]
  },
  {
    "user_id": 500,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 4},
      {"title": "Jerry Maguire (1996)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Big Lebowski, The (1998)", "rating": 3},
      {"title": "Speed (1994)", "rating": 4},
      {"title": "True Romance (1993)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4},
      {"title": "Private Parts (1997)", "rating": 3}
    ]
  },
  {
    "user_id": 482,
    "recommendations": [
      {"title": "Space Jam (1996)", "rating": 4},
      {"title": "Mask, The (1994)", "rating": 4},
      {"title": "Aladdin (1992)", "rating": 5},
      {"title": "Pocahontas (1995)", "rating": 3},
      {"title": "Lion King, The (1994)", "rating": 4},
      {"title": "Birdcage, The (1996)", "rating": 4},
      {"title": "I Know What You Did Last Summer (1997)", "rating": 3},
      {"title": "Craft, The (1996)", "rating": 4},
      {"title": "Titanic (1997)", "rating": 5},
      {"title": "Nightmare Before Christmas, The (1993)", "rating": 4}
    ]
  },
  {
    "user_id": 335,
    "recommendations": [
      {"title": "Rock, The (1996)", "rating": 5},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Citizen Kane (1941)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 4},
      {"title": "Eraser (1996)", "rating": 3},
      {"title": "Patton (1970)", "rating": 3},
      {"title": "Casablanca (1942)", "rating": 4},
      {"title": "Clear and Present Danger (1994)", "rating": 4}
    ]
  }
]
```

In [302]:
import json
import pandas as pd
import random

item_title_to_id = dict(zip(items['title'], items['item_id']))


# Clean the JSON string if it starts with ``` or ```json
cleaned = text_response.strip()
if cleaned.startswith("```json"):
    cleaned = cleaned[7:]
if cleaned.startswith("```"):
    cleaned = cleaned[3:]
if cleaned.endswith("```"):
    cleaned = cleaned[:-3]
cleaned = cleaned.strip()

# Parse the JSON string
parsed = json.loads(cleaned)

# Flatten into a list of rating entries
ratings_data = []
for user in parsed:
    user_id = user["user_id"]
    for rec in user["recommendations"]:
        item_id = item_title_to_id.get(rec["title"], None)
        if item_id is None:
            print(f"Warning: Item title '{rec['title']}' not found in items DataFrame.")
            continue
        ratings_data.append({
            "user_id": user_id,
            "item_id": int(item_id),  # Use title to get item_id
            "rating": rec["rating"]
        })

# Convert to DataFrame
ratings_df = pd.DataFrame(ratings_data)


ratings_df

     user_id  item_id  rating
0         97      117       5
1         97      902       4
2         97      134       3
3         97      182       4
4         97      302       5
..       ...      ...     ...
195      335      176       4
196      335      597       3
197      335      205       3
198      335      483       4
199      335      566       4

[200 rows x 3 columns]

In [303]:
random_users

     user_id  age gender     occupation zip_code
96        97   43      M         artist    98006
265      266   62      F  administrator    78756
810      811   40      F       educator    73013
23        24   21      F         artist    94533
30        31   24      M         artist    10003
280      281   15      F        student    06059
568      569   34      M       educator    91903
259      260   40      F         artist    89801
331      332   20      M        student    40504
323      324   21      F        student    02176
422      423   64      M          other    91606
467      468   28      M       engineer    02341
286      287   21      M       salesman    31211
893      894   47      M       educator    74075
868      869   30      M        student    10025
638      639   42      F      librarian    12065
538      539   53      F  administrator    80303
499      500   28      M  administrator    94305
481      482   18      F        student    40256
334      335   45      M      executive    33775

In [304]:
# For each user in random_users, leave 5 ratings in interactions_of_other_users
interactions_of_random_users = []
interactions_of_other_users = ratings.copy()

for uid in random_users['user_id']:
    user_ratings = ratings[ratings['user_id'] == uid]
    leave_out = user_ratings.sample(1, random_state=42) if len(user_ratings) >= 5 else user_ratings
    interactions_of_random_users.append(user_ratings[~user_ratings.index.isin(leave_out.index)])
    interactions_of_other_users = interactions_of_other_users.drop(user_ratings[~user_ratings.index.isin(leave_out.index)].index)


interactions_of_random_users = pd.concat(interactions_of_random_users)

In [308]:
from surprise import Dataset, Reader, SVD, accuracy

# Create a Reader with your rating scale
reader = Reader(rating_scale=(1, 5))

# Convert your pandas DataFrames into Surprise train/test sets
trainset = Dataset.load_from_df(interactions_of_other_users[['user_id', 'item_id', 'rating']], reader).build_full_trainset()

# Fit the model
algo = SVD()
algo.fit(trainset)

# Make predictions
predictions = algo.test(interactions_of_random_users[['user_id', 'item_id', 'rating']].values)

# Evaluate
print("RMSE:", accuracy.rmse(predictions))
print("MAE:", accuracy.mae(predictions))

RMSE: 0.9962
RMSE: 0.9961677288983305
MAE:  0.7840
MAE: 0.7840285228442767

In [306]:
pseudo_train = pd.concat([ratings_df, interactions_of_other_users], ignore_index=True)
pseudo_train

       user_id  item_id  rating    timestamp
0           97      117       5          NaN
1           97      902       4          NaN
2           97      134       3          NaN
3           97      182       4          NaN
4           97      302       5          NaN
...        ...      ...     ...          ...
98597      880      476       3  880175444.0
98598      716      204       5  879795543.0
98599      276     1090       1  874795795.0
98600       13      225       2  882399156.0
98601       12      203       3  879959583.0

[98602 rows x 4 columns]

In [307]:

# Convert your pandas DataFrames into Surprise train/test sets
pseudo_trainset = Dataset.load_from_df(pseudo_train[['user_id', 'item_id', 'rating']], reader).build_full_trainset()

# Fit the model
algo = SVD()
algo.fit(pseudo_trainset)

# Make predictions
predictions = algo.test(interactions_of_random_users[['user_id', 'item_id', 'rating']].values)

# Evaluate
print("RMSE:", accuracy.rmse(predictions))
print("MAE:", accuracy.mae(predictions))

RMSE: 0.9718
RMSE: 0.9718259728048414
MAE:  0.7595
MAE: 0.7594894791873297