In [1]:
import pandas as pd

users = pd.read_csv('ml-100k/u.user', sep='|', encoding='latin-1', names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])
items = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', names=['item_id', 'title', 'release_date', 'video_release_date', 'imdb_url', 'unknown', 'action', 'adventure', 'animation', 'children', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller', 'war', 'western'])
ratings = pd.read_csv('ml-100k/u.data', sep='\t', header=None, names=['user_id', 'item_id', 'rating', 'timestamp'])

In [2]:
# Get number of ratings per item
temp = ratings.groupby('item_id').size()

# Filter item_ids with more than 200 ratings
frequent_item_ids = temp[temp > 200].index

# Select the corresponding items from the items DataFrame
movies_with_many_ratings = items[items['item_id'].isin(frequent_item_ids)]

# Create a semicolon-separated string of titles
movies_with_many_ratings['title'] = movies_with_many_ratings['title'].str.replace('|', ';')

titles_string = '; '.join(movies_with_many_ratings['title'].tolist())

C:\Users\alexa\AppData\Local\Temp\ipykernel_28012\4127103062.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_with_many_ratings['title'] = movies_with_many_ratings['title'].str.replace('|', ';')

In [3]:
titles_string

"Toy Story (1995); Get Shorty (1995); Twelve Monkeys (1995); Babe (1995); Dead Man Walking (1995); Seven (Se7en) (1995); Usual Suspects, The (1995); Mr. Holland's Opus (1995); Braveheart (1995); Birdcage, The (1996); Apollo 13 (1995); Star Wars (1977); Pulp Fiction (1994); Shawshank Redemption, The (1994); Forrest Gump (1994); Four Weddings and a Funeral (1994); Lion King, The (1994); Fugitive, The (1993); Jurassic Park (1993); Sleepless in Seattle (1993); Blade Runner (1982); Aladdin (1992); Terminator 2: Judgment Day (1991); Dances with Wolves (1990); Silence of the Lambs, The (1991); Fargo (1996); Truth About Cats & Dogs, The (1996); Rock, The (1996); Twister (1996); Independence Day (ID4) (1996); Phenomenon (1996); Godfather, The (1972); Wizard of Oz, The (1939); 2001: A Space Odyssey (1968); Sound of Music, The (1965); Die Hard (1988); Willy Wonka and the Chocolate Factory (1971); Fish Called Wanda, A (1988); Top Gun (1986); Monty Python and the Holy Grail (1974); Empire Strikes Back, The (1980); Princess Bride, The (1987); Raiders of the Lost Ark (1981); Brazil (1985); Aliens (1986); Clockwork Orange, A (1971); Apocalypse Now (1979); Return of the Jedi (1983); GoodFellas (1990); Alien (1979); Psycho (1960); Blues Brothers, The (1980); Godfather: Part II, The (1974); Amadeus (1984); Sting, The (1973); Terminator, The (1984); Dead Poets Society (1989); Graduate, The (1967); Shining, The (1980); Groundhog Day (1993); Back to the Future (1985); Indiana Jones and the Last Crusade (1989); M*A*S*H (1970); Field of Dreams (1989); When Harry Met Sally... (1989); Star Trek: First Contact (1996); Star Trek: The Wrath of Khan (1982); Jaws (1975); Mars Attacks! (1996); Jerry Maguire (1996); Raising Arizona (1987); Devil's Own, The (1997); Men in Black (1997); Contact (1997); Hunt for Red October, The (1990); Chasing Amy (1997); Full Monty, The (1997); Starship Troopers (1997); Heat (1995); Sense and Sensibility (1995); Leaving Las Vegas (1995); Time to Kill, A (1996); English Patient, The (1996); Scream (1996); Evita (1996); Liar Liar (1997); Air Force One (1997); In & Out (1997); L.A. Confidential (1997); Titanic (1997); Schindler's List (1993); Murder at 1600 (1997); Dante's Peak (1997); Conspiracy Theory (1997); Game, The (1997); One Flew Over the Cuckoo's Nest (1975); True Lies (1994); Batman (1989); Mission: Impossible (1996); E.T. the Extra-Terrestrial (1982); To Kill a Mockingbird (1962); Butch Cassidy and the Sundance Kid (1969); Courage Under Fire (1996); Trainspotting (1996); Casablanca (1942); It's a Wonderful Life (1946); People vs. Larry Flynt, The (1996); Boot, Das (1981); Broken Arrow (1996); Speed (1994); Beauty and the Beast (1991); Eraser (1996); Rear Window (1954); Stand by Me (1986); Volcano (1997); Ransom (1996); Saint, The (1997)"

In [4]:
random_users = users.sample(20, random_state=42)
random_users_list = random_users[['user_id', 'age', 'gender', 'occupation', 'zip_code']].to_dict(orient='records')

In [5]:
prompt = f"""
You are a movie recommendation assistant tasked with simulating user ratings in a recommendation system. I will provide:

1. A list of movie titles.
2. A list of user profiles, each with the following attributes: age, gender, occupation, and zip code. It will also include a user ID you should use only for identification purposes.

For each user, select 10 movies from the list that you believe match their preferences, based on their profile. The selection should reflect a reasonable balance of relevance and diversity (not overly narrow, but not random either).

For each selected movie, assign a realistic rating from 1 to 5:
- 1 = strongly disliked
- 5 = strongly liked

Return the results in **JSON format** using the structure below:

[
  {{
    "user_id": ...,
    "recommendations": [
      {{"title": "...", "rating": ...}},
      ...
    ]
  }},
  ...
]

The movie titles are as follows:
{titles_string}

The user profiles are as follows:
{random_users_list}

"""

In [6]:
from google import genai

client = genai.Client(api_key="AIzaSyBDHhAXPz7wqXO_JsgP7Zg93U_erbaM0NE")

response = client.models.generate_content(
    model="gemini-2.0-flash",
    contents=prompt,
)

print(response.text)

```json
[
  {
    "user_id": 97,
    "recommendations": [
      {"title": "Usual Suspects, The (1995)", "rating": 5},
      {"title": "Pulp Fiction (1994)", "rating": 5},
      {"title": "Seven (Se7en) (1995)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "Blade Runner (1982)", "rating": 4},
      {"title": "Brazil (1985)", "rating": 3},
      {"title": "Fargo (1996)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5},
      {"title": "Heat (1995)", "rating": 4},
      {"title": "Apocalypse Now (1979)", "rating": 3}
    ]
  },
  {
    "user_id": 266,
    "recommendations": [
      {"title": "Shawshank Redemption, The (1994)", "rating": 5},
      {"title": "Forrest Gump (1994)", "rating": 4},
      {"title": "Sound of Music, The (1965)", "rating": 5},
      {"title": "Sleepless in Seattle (1993)", "rating": 4},
      {"title": "Sense and Sensibility (1995)", "rating": 4},
      {"title": "English Patient, The (1996)", "rating": 3},
      {"title": "Titanic (1997)", "rating": 4},
      {"title": "Apollo 13 (1995)", "rating": 3},
      {"title": "To Kill a Mockingbird (1962)", "rating": 5},
      {"title": "It's a Wonderful Life (1946)", "rating": 4}
    ]
  },
  {
    "user_id": 811,
    "recommendations": [
      {"title": "Dead Poets Society (1989)", "rating": 5},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Forrest Gump (1994)", "rating": 4},
      {"title": "Lion King, The (1994)", "rating": 3},
      {"title": "Sense and Sensibility (1995)", "rating": 4},
      {"title": "Dead Man Walking (1995)", "rating": 4},
      {"title": "Babe (1995)", "rating": 3},
      {"title": "English Patient, The (1996)", "rating": 4},
      {"title": "Mr. Holland's Opus (1995)", "rating": 5},
      {"title": "To Kill a Mockingbird (1962)", "rating": 5}
    ]
  },
  {
    "user_id": 24,
    "recommendations": [
      {"title": "Pulp Fiction (1994)", "rating": 5},
      {"title": "Trainspotting (1996)", "rating": 4},
      {"title": "Chasing Amy (1997)", "rating": 4},
      {"title": "Truth About Cats & Dogs, The (1996)", "rating": 3},
      {"title": "Birdcage, The (1996)", "rating": 4},
      {"title": "Four Weddings and a Funeral (1994)", "rating": 4},
      {"title": "When Harry Met Sally... (1989)", "rating": 3},
      {"title": "Liar Liar (1997)", "rating": 3},
      {"title": "Full Monty, The (1997)", "rating": 5},
      {"title": "Raising Arizona (1987)", "rating": 4}
    ]
  },
  {
    "user_id": 31,
    "recommendations": [
      {"title": "Pulp Fiction (1994)", "rating": 5},
      {"title": "Usual Suspects, The (1995)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "Full Monty, The (1997)", "rating": 4},
      {"title": "Fargo (1996)", "rating": 4},
      {"title": "Trainspotting (1996)", "rating": 5},
      {"title": "Chasing Amy (1997)", "rating": 4},
      {"title": "Raising Arizona (1987)", "rating": 3},
      {"title": "Heat (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4}
    ]
  },
  {
    "user_id": 281,
    "recommendations": [
      {"title": "Toy Story (1995)", "rating": 5},
      {"title": "Lion King, The (1994)", "rating": 4},
      {"title": "E.T. the Extra-Terrestrial (1982)", "rating": 5},
      {"title": "Aladdin (1992)", "rating": 4},
      {"title": "Beauty and the Beast (1991)", "rating": 4},
      {"title": "Space Jam (1996)", "rating": 3},
      {"title": "Independence Day (ID4) (1996)", "rating": 3},
      {"title": "Star Wars (1977)", "rating": 4},
      {"title": "Princess Bride, The (1987)", "rating": 4},
      {"title": "Jurassic Park (1993)", "rating": 4}
    ]
  },
  {
    "user_id": 569,
    "recommendations": [
      {"title": "Shawshank Redemption, The (1994)", "rating": 5},
      {"title": "Forrest Gump (1994)", "rating": 4},
      {"title": "Apollo 13 (1995)", "rating": 4},
      {"title": "Dead Poets Society (1989)", "rating": 5},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Braveheart (1995)", "rating": 4},
      {"title": "Good Will Hunting (1997)", "rating": 4},
      {"title": "Contact (1997)", "rating": 3},
      {"title": "One Flew Over the Cuckoo's Nest (1975)", "rating": 4},
      {"title": "M*A*S*H (1970)", "rating": 3}
    ]
  },
  {
    "user_id": 260,
    "recommendations": [
      {"title": "Pulp Fiction (1994)", "rating": 5},
      {"title": "Fargo (1996)", "rating": 4},
      {"title": "Raising Arizona (1987)", "rating": 4},
      {"title": "Brazil (1985)", "rating": 3},
      {"title": "Usual Suspects, The (1995)", "rating": 5},
      {"title": "Truth About Cats & Dogs, The (1996)", "rating": 3},
      {"title": "When Harry Met Sally... (1989)", "rating": 4},
      {"title": "Sense and Sensibility (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Fish Called Wanda, A (1988)", "rating": 4}
    ]
  },
  {
    "user_id": 332,
    "recommendations": [
      {"title": "Star Wars (1977)", "rating": 5},
      {"title": "Terminator 2: Judgment Day (1991)", "rating": 5},
      {"title": "Pulp Fiction (1994)", "rating": 4},
      {"title": "Independence Day (ID4) (1996)", "rating": 4},
      {"title": "Men in Black (1997)", "rating": 4},
      {"title": "Jurassic Park (1993)", "rating": 4},
      {"title": "Back to the Future (1985)", "rating": 4},
      {"title": "Mission: Impossible (1996)", "rating": 3},
      {"title": "Die Hard (1988)", "rating": 3},
      {"title": "Speed (1994)", "rating": 3}
    ]
  },
  {
    "user_id": 324,
    "recommendations": [
      {"title": "Titanic (1997)", "rating": 5},
      {"title": "Sleepless in Seattle (1993)", "rating": 4},
      {"title": "Four Weddings and a Funeral (1994)", "rating": 4},
      {"title": "Liar Liar (1997)", "rating": 3},
      {"title": "Truth About Cats & Dogs, The (1996)", "rating": 4},
      {"title": "Jerry Maguire (1996)", "rating": 4},
      {"title": "While You Were Sleeping (1995)", "rating": 4},
      {"title": "Sense and Sensibility (1995)", "rating": 3},
      {"title": "When Harry Met Sally... (1989)", "rating": 5},
      {"title": "Princess Bride, The (1987)", "rating": 4}
    ]
  },
  {
    "user_id": 423,
    "recommendations": [
      {"title": "Godfather, The (1972)", "rating": 5},
      {"title": "2001: A Space Odyssey (1968)", "rating": 5},
      {"title": "One Flew Over the Cuckoo's Nest (1975)", "rating": 4},
      {"title": "Butch Cassidy and the Sundance Kid (1969)", "rating": 4},
      {"title": "Casablanca (1942)", "rating": 4},
      {"title": "Rear Window (1954)", "rating": 4},
      {"title": "Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)", "rating": 4},
       {"title": "Sting, The (1973)", "rating": 4},
      {"title": "Apocalypse Now (1979)", "rating": 3},
      {"title": "Shining, The (1980)", "rating": 3}
    ]
  },
  {
    "user_id": 468,
    "recommendations": [
      {"title": "Apollo 13 (1995)", "rating": 4},
      {"title": "Contact (1997)", "rating": 5},
      {"title": "Star Trek: First Contact (1996)", "rating": 4},
      {"title": "Hunt for Red October, The (1990)", "rating": 4},
      {"title": "Terminator 2: Judgment Day (1991)", "rating": 4},
      {"title": "Aliens (1986)", "rating": 3},
      {"title": "2001: A Space Odyssey (1968)", "rating": 3},
      {"title": "Independence Day (ID4) (1996)", "rating": 4},
      {"title": "Star Wars (1977)", "rating": 5},
      {"title": "Mission: Impossible (1996)", "rating": 3}
    ]
  },
  {
    "user_id": 287,
    "recommendations": [
      {"title": "Liar Liar (1997)", "rating": 4},
      {"title": "Speed (1994)", "rating": 3},
      {"title": "Men in Black (1997)", "rating": 4},
      {"title": "Die Hard (1988)", "rating": 3},
      {"title": "Air Force One (1997)", "rating": 4},
      {"title": "Mission: Impossible (1996)", "rating": 3},
      {"title": "Twister (1996)", "rating": 3},
      {"title": "Eraser (1996)", "rating": 2},
      {"title": "Rock, The (1996)", "rating": 4},
      {"title": "Broken Arrow (1996)", "rating": 2}
    ]
  },
  {
    "user_id": 894,
    "recommendations": [
      {"title": "Shawshank Redemption, The (1994)", "rating": 5},
      {"title": "Forrest Gump (1994)", "rating": 4},
      {"title": "Good Will Hunting (1997)", "rating": 4},
      {"title": "Apollo 13 (1995)", "rating": 4},
      {"title": "Dead Poets Society (1989)", "rating": 5},
      {"title": "Schindler's List (1993)", "rating": 5},
      {"title": "Braveheart (1995)", "rating": 4},
      {"title": "Mr. Holland's Opus (1995)", "rating": 4},
      {"title": "To Kill a Mockingbird (1962)", "rating": 5},
      {"title": "One Flew Over the Cuckoo's Nest (1975)", "rating": 4}
    ]
  },
  {
    "user_id": 869,
    "recommendations": [
      {"title": "Pulp Fiction (1994)", "rating": 5},
      {"title": "Trainspotting (1996)", "rating": 5},
      {"title": "Full Monty, The (1997)", "rating": 4},
      {"title": "Men in Black (1997)", "rating": 3},
      {"title": "Starship Troopers (1997)", "rating": 3},
      {"title": "Fargo (1996)", "rating": 4},
      {"title": "Heat (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "GoodFellas (1990)", "rating": 3},
      {"title": "Usual Suspects, The (1995)", "rating": 4}
    ]
  },
  {
    "user_id": 639,
    "recommendations": [
      {"title": "Sense and Sensibility (1995)", "rating": 5},
      {"title": "English Patient, The (1996)", "rating": 4},
      {"title": "Shawshank Redemption, The (1994)", "rating": 4},
      {"title": "Forrest Gump (1994)", "rating": 4},
      {"title": "Pride and Prejudice (1995)", "rating": 5},
      {"title": "To Kill a Mockingbird (1962)", "rating": 4},
      {"title": "It's a Wonderful Life (1946)", "rating": 5},
      {"title": "Sound of Music, The (1965)", "rating": 4},
      {"title": "Casablanca (1942)", "rating": 4},
      {"title": "Titanic (1997)", "rating": 3}
    ]
  },
  {
    "user_id": 539,
    "recommendations": [
      {"title": "Shawshank Redemption, The (1994)", "rating": 5},
      {"title": "Forrest Gump (1994)", "rating": 4},
      {"title": "Apollo 13 (1995)", "rating": 4},
      {"title": "Sleepless in Seattle (1993)", "rating": 4},
      {"title": "Sense and Sensibility (1995)", "rating": 4},
      {"title": "English Patient, The (1996)", "rating": 3},
      {"title": "Titanic (1997)", "rating": 4},
      {"title": "Sound of Music, The (1965)", "rating": 5},
      {"title": "To Kill a Mockingbird (1962)", "rating": 4},
      {"title": "It's a Wonderful Life (1946)", "rating": 4}
    ]
  },
  {
    "user_id": 500,
    "recommendations": [
      {"title": "Pulp Fiction (1994)", "rating": 5},
      {"title": "Usual Suspects, The (1995)", "rating": 5},
      {"title": "GoodFellas (1990)", "rating": 4},
      {"title": "Fargo (1996)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 4},
      {"title": "Heat (1995)", "rating": 4},
      {"title": "Jerry Maguire (1996)", "rating": 4},
      {"title": "Groundhog Day (1993)", "rating": 3},
      {"title": "Apollo 13 (1995)", "rating": 3},
      {"title": "Mission: Impossible (1996)", "rating": 3}
    ]
  },
  {
    "user_id": 482,
    "recommendations": [
      {"title": "Titanic (1997)", "rating": 5},
      {"title": "Scream (1996)", "rating": 4},
      {"title": "Independence Day (ID4) (1996)", "rating": 3},
      {"title": "Men in Black (1997)", "rating": 4},
      {"title": "Jurassic Park (1993)", "rating": 4},
      {"title": "Lion King, The (1994)", "rating": 4},
      {"title": "E.T. the Extra-Terrestrial (1982)", "rating": 5},
      {"title": "Beauty and the Beast (1991)", "rating": 4},
      {"title": "Princess Bride, The (1987)", "rating": 4},
      {"title": "Toy Story (1995)", "rating": 4}
    ]
  },
  {
    "user_id": 335,
    "recommendations": [
      {"title": "Shawshank Redemption, The (1994)", "rating": 5},
      {"title": "Godfather, The (1972)", "rating": 4},
      {"title": "Heat (1995)", "rating": 4},
      {"title": "Braveheart (1995)", "rating": 4},
      {"title": "Apollo 13 (1995)", "rating": 4},
      {"title": "Air Force One (1997)", "rating": 3},
      {"title": "Fugitive, The (1993)", "rating": 4},
      {"title": "Hunt for Red October, The (1990)", "rating": 3},
      {"title": "Usual Suspects, The (1995)", "rating": 4},
      {"title": "L.A. Confidential (1997)", "rating": 5}
    ]
  }
]
```

In [7]:
text_response = response.text
text_response

'```json\n[\n  {\n    "user_id": 97,\n    "recommendations": [\n      {"title": "Usual Suspects, The (1995)", "rating": 5},\n      {"title": "Pulp Fiction (1994)", "rating": 5},\n      {"title": "Seven (Se7en) (1995)", "rating": 4},\n      {"title": "GoodFellas (1990)", "rating": 4},\n      {"title": "Blade Runner (1982)", "rating": 4},\n      {"title": "Brazil (1985)", "rating": 3},\n      {"title": "Fargo (1996)", "rating": 4},\n      {"title": "L.A. Confidential (1997)", "rating": 5},\n      {"title": "Heat (1995)", "rating": 4},\n      {"title": "Apocalypse Now (1979)", "rating": 3}\n    ]\n  },\n  {\n    "user_id": 266,\n    "recommendations": [\n      {"title": "Shawshank Redemption, The (1994)", "rating": 5},\n      {"title": "Forrest Gump (1994)", "rating": 4},\n      {"title": "Sound of Music, The (1965)", "rating": 5},\n      {"title": "Sleepless in Seattle (1993)", "rating": 4},\n      {"title": "Sense and Sensibility (1995)", "rating": 4},\n      {"title": "English Patient, The (1996)", "rating": 3},\n      {"title": "Titanic (1997)", "rating": 4},\n      {"title": "Apollo 13 (1995)", "rating": 3},\n      {"title": "To Kill a Mockingbird (1962)", "rating": 5},\n      {"title": "It\'s a Wonderful Life (1946)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 811,\n    "recommendations": [\n      {"title": "Dead Poets Society (1989)", "rating": 5},\n      {"title": "Schindler\'s List (1993)", "rating": 5},\n      {"title": "Forrest Gump (1994)", "rating": 4},\n      {"title": "Lion King, The (1994)", "rating": 3},\n      {"title": "Sense and Sensibility (1995)", "rating": 4},\n      {"title": "Dead Man Walking (1995)", "rating": 4},\n      {"title": "Babe (1995)", "rating": 3},\n      {"title": "English Patient, The (1996)", "rating": 4},\n      {"title": "Mr. Holland\'s Opus (1995)", "rating": 5},\n      {"title": "To Kill a Mockingbird (1962)", "rating": 5}\n    ]\n  },\n  {\n    "user_id": 24,\n    "recommendations": [\n      {"title": "Pulp Fiction (1994)", "rating": 5},\n      {"title": "Trainspotting (1996)", "rating": 4},\n      {"title": "Chasing Amy (1997)", "rating": 4},\n      {"title": "Truth About Cats & Dogs, The (1996)", "rating": 3},\n      {"title": "Birdcage, The (1996)", "rating": 4},\n      {"title": "Four Weddings and a Funeral (1994)", "rating": 4},\n      {"title": "When Harry Met Sally... (1989)", "rating": 3},\n      {"title": "Liar Liar (1997)", "rating": 3},\n      {"title": "Full Monty, The (1997)", "rating": 5},\n      {"title": "Raising Arizona (1987)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 31,\n    "recommendations": [\n      {"title": "Pulp Fiction (1994)", "rating": 5},\n      {"title": "Usual Suspects, The (1995)", "rating": 5},\n      {"title": "GoodFellas (1990)", "rating": 4},\n      {"title": "Full Monty, The (1997)", "rating": 4},\n      {"title": "Fargo (1996)", "rating": 4},\n      {"title": "Trainspotting (1996)", "rating": 5},\n      {"title": "Chasing Amy (1997)", "rating": 4},\n      {"title": "Raising Arizona (1987)", "rating": 3},\n      {"title": "Heat (1995)", "rating": 4},\n      {"title": "L.A. Confidential (1997)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 281,\n    "recommendations": [\n      {"title": "Toy Story (1995)", "rating": 5},\n      {"title": "Lion King, The (1994)", "rating": 4},\n      {"title": "E.T. the Extra-Terrestrial (1982)", "rating": 5},\n      {"title": "Aladdin (1992)", "rating": 4},\n      {"title": "Beauty and the Beast (1991)", "rating": 4},\n      {"title": "Space Jam (1996)", "rating": 3},\n      {"title": "Independence Day (ID4) (1996)", "rating": 3},\n      {"title": "Star Wars (1977)", "rating": 4},\n      {"title": "Princess Bride, The (1987)", "rating": 4},\n      {"title": "Jurassic Park (1993)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 569,\n    "recommendations": [\n      {"title": "Shawshank Redemption, The (1994)", "rating": 5},\n      {"title": "Forrest Gump (1994)", "rating": 4},\n      {"title": "Apollo 13 (1995)", "rating": 4},\n      {"title": "Dead Poets Society (1989)", "rating": 5},\n      {"title": "Schindler\'s List (1993)", "rating": 5},\n      {"title": "Braveheart (1995)", "rating": 4},\n      {"title": "Good Will Hunting (1997)", "rating": 4},\n      {"title": "Contact (1997)", "rating": 3},\n      {"title": "One Flew Over the Cuckoo\'s Nest (1975)", "rating": 4},\n      {"title": "M*A*S*H (1970)", "rating": 3}\n    ]\n  },\n  {\n    "user_id": 260,\n    "recommendations": [\n      {"title": "Pulp Fiction (1994)", "rating": 5},\n      {"title": "Fargo (1996)", "rating": 4},\n      {"title": "Raising Arizona (1987)", "rating": 4},\n      {"title": "Brazil (1985)", "rating": 3},\n      {"title": "Usual Suspects, The (1995)", "rating": 5},\n      {"title": "Truth About Cats & Dogs, The (1996)", "rating": 3},\n      {"title": "When Harry Met Sally... (1989)", "rating": 4},\n      {"title": "Sense and Sensibility (1995)", "rating": 4},\n      {"title": "L.A. Confidential (1997)", "rating": 4},\n      {"title": "Fish Called Wanda, A (1988)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 332,\n    "recommendations": [\n      {"title": "Star Wars (1977)", "rating": 5},\n      {"title": "Terminator 2: Judgment Day (1991)", "rating": 5},\n      {"title": "Pulp Fiction (1994)", "rating": 4},\n      {"title": "Independence Day (ID4) (1996)", "rating": 4},\n      {"title": "Men in Black (1997)", "rating": 4},\n      {"title": "Jurassic Park (1993)", "rating": 4},\n      {"title": "Back to the Future (1985)", "rating": 4},\n      {"title": "Mission: Impossible (1996)", "rating": 3},\n      {"title": "Die Hard (1988)", "rating": 3},\n      {"title": "Speed (1994)", "rating": 3}\n    ]\n  },\n  {\n    "user_id": 324,\n    "recommendations": [\n      {"title": "Titanic (1997)", "rating": 5},\n      {"title": "Sleepless in Seattle (1993)", "rating": 4},\n      {"title": "Four Weddings and a Funeral (1994)", "rating": 4},\n      {"title": "Liar Liar (1997)", "rating": 3},\n      {"title": "Truth About Cats & Dogs, The (1996)", "rating": 4},\n      {"title": "Jerry Maguire (1996)", "rating": 4},\n      {"title": "While You Were Sleeping (1995)", "rating": 4},\n      {"title": "Sense and Sensibility (1995)", "rating": 3},\n      {"title": "When Harry Met Sally... (1989)", "rating": 5},\n      {"title": "Princess Bride, The (1987)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 423,\n    "recommendations": [\n      {"title": "Godfather, The (1972)", "rating": 5},\n      {"title": "2001: A Space Odyssey (1968)", "rating": 5},\n      {"title": "One Flew Over the Cuckoo\'s Nest (1975)", "rating": 4},\n      {"title": "Butch Cassidy and the Sundance Kid (1969)", "rating": 4},\n      {"title": "Casablanca (1942)", "rating": 4},\n      {"title": "Rear Window (1954)", "rating": 4},\n      {"title": "Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)", "rating": 4},\n       {"title": "Sting, The (1973)", "rating": 4},\n      {"title": "Apocalypse Now (1979)", "rating": 3},\n      {"title": "Shining, The (1980)", "rating": 3}\n    ]\n  },\n  {\n    "user_id": 468,\n    "recommendations": [\n      {"title": "Apollo 13 (1995)", "rating": 4},\n      {"title": "Contact (1997)", "rating": 5},\n      {"title": "Star Trek: First Contact (1996)", "rating": 4},\n      {"title": "Hunt for Red October, The (1990)", "rating": 4},\n      {"title": "Terminator 2: Judgment Day (1991)", "rating": 4},\n      {"title": "Aliens (1986)", "rating": 3},\n      {"title": "2001: A Space Odyssey (1968)", "rating": 3},\n      {"title": "Independence Day (ID4) (1996)", "rating": 4},\n      {"title": "Star Wars (1977)", "rating": 5},\n      {"title": "Mission: Impossible (1996)", "rating": 3}\n    ]\n  },\n  {\n    "user_id": 287,\n    "recommendations": [\n      {"title": "Liar Liar (1997)", "rating": 4},\n      {"title": "Speed (1994)", "rating": 3},\n      {"title": "Men in Black (1997)", "rating": 4},\n      {"title": "Die Hard (1988)", "rating": 3},\n      {"title": "Air Force One (1997)", "rating": 4},\n      {"title": "Mission: Impossible (1996)", "rating": 3},\n      {"title": "Twister (1996)", "rating": 3},\n      {"title": "Eraser (1996)", "rating": 2},\n      {"title": "Rock, The (1996)", "rating": 4},\n      {"title": "Broken Arrow (1996)", "rating": 2}\n    ]\n  },\n  {\n    "user_id": 894,\n    "recommendations": [\n      {"title": "Shawshank Redemption, The (1994)", "rating": 5},\n      {"title": "Forrest Gump (1994)", "rating": 4},\n      {"title": "Good Will Hunting (1997)", "rating": 4},\n      {"title": "Apollo 13 (1995)", "rating": 4},\n      {"title": "Dead Poets Society (1989)", "rating": 5},\n      {"title": "Schindler\'s List (1993)", "rating": 5},\n      {"title": "Braveheart (1995)", "rating": 4},\n      {"title": "Mr. Holland\'s Opus (1995)", "rating": 4},\n      {"title": "To Kill a Mockingbird (1962)", "rating": 5},\n      {"title": "One Flew Over the Cuckoo\'s Nest (1975)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 869,\n    "recommendations": [\n      {"title": "Pulp Fiction (1994)", "rating": 5},\n      {"title": "Trainspotting (1996)", "rating": 5},\n      {"title": "Full Monty, The (1997)", "rating": 4},\n      {"title": "Men in Black (1997)", "rating": 3},\n      {"title": "Starship Troopers (1997)", "rating": 3},\n      {"title": "Fargo (1996)", "rating": 4},\n      {"title": "Heat (1995)", "rating": 4},\n      {"title": "L.A. Confidential (1997)", "rating": 4},\n      {"title": "GoodFellas (1990)", "rating": 3},\n      {"title": "Usual Suspects, The (1995)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 639,\n    "recommendations": [\n      {"title": "Sense and Sensibility (1995)", "rating": 5},\n      {"title": "English Patient, The (1996)", "rating": 4},\n      {"title": "Shawshank Redemption, The (1994)", "rating": 4},\n      {"title": "Forrest Gump (1994)", "rating": 4},\n      {"title": "Pride and Prejudice (1995)", "rating": 5},\n      {"title": "To Kill a Mockingbird (1962)", "rating": 4},\n      {"title": "It\'s a Wonderful Life (1946)", "rating": 5},\n      {"title": "Sound of Music, The (1965)", "rating": 4},\n      {"title": "Casablanca (1942)", "rating": 4},\n      {"title": "Titanic (1997)", "rating": 3}\n    ]\n  },\n  {\n    "user_id": 539,\n    "recommendations": [\n      {"title": "Shawshank Redemption, The (1994)", "rating": 5},\n      {"title": "Forrest Gump (1994)", "rating": 4},\n      {"title": "Apollo 13 (1995)", "rating": 4},\n      {"title": "Sleepless in Seattle (1993)", "rating": 4},\n      {"title": "Sense and Sensibility (1995)", "rating": 4},\n      {"title": "English Patient, The (1996)", "rating": 3},\n      {"title": "Titanic (1997)", "rating": 4},\n      {"title": "Sound of Music, The (1965)", "rating": 5},\n      {"title": "To Kill a Mockingbird (1962)", "rating": 4},\n      {"title": "It\'s a Wonderful Life (1946)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 500,\n    "recommendations": [\n      {"title": "Pulp Fiction (1994)", "rating": 5},\n      {"title": "Usual Suspects, The (1995)", "rating": 5},\n      {"title": "GoodFellas (1990)", "rating": 4},\n      {"title": "Fargo (1996)", "rating": 4},\n      {"title": "L.A. Confidential (1997)", "rating": 4},\n      {"title": "Heat (1995)", "rating": 4},\n      {"title": "Jerry Maguire (1996)", "rating": 4},\n      {"title": "Groundhog Day (1993)", "rating": 3},\n      {"title": "Apollo 13 (1995)", "rating": 3},\n      {"title": "Mission: Impossible (1996)", "rating": 3}\n    ]\n  },\n  {\n    "user_id": 482,\n    "recommendations": [\n      {"title": "Titanic (1997)", "rating": 5},\n      {"title": "Scream (1996)", "rating": 4},\n      {"title": "Independence Day (ID4) (1996)", "rating": 3},\n      {"title": "Men in Black (1997)", "rating": 4},\n      {"title": "Jurassic Park (1993)", "rating": 4},\n      {"title": "Lion King, The (1994)", "rating": 4},\n      {"title": "E.T. the Extra-Terrestrial (1982)", "rating": 5},\n      {"title": "Beauty and the Beast (1991)", "rating": 4},\n      {"title": "Princess Bride, The (1987)", "rating": 4},\n      {"title": "Toy Story (1995)", "rating": 4}\n    ]\n  },\n  {\n    "user_id": 335,\n    "recommendations": [\n      {"title": "Shawshank Redemption, The (1994)", "rating": 5},\n      {"title": "Godfather, The (1972)", "rating": 4},\n      {"title": "Heat (1995)", "rating": 4},\n      {"title": "Braveheart (1995)", "rating": 4},\n      {"title": "Apollo 13 (1995)", "rating": 4},\n      {"title": "Air Force One (1997)", "rating": 3},\n      {"title": "Fugitive, The (1993)", "rating": 4},\n      {"title": "Hunt for Red October, The (1990)", "rating": 3},\n      {"title": "Usual Suspects, The (1995)", "rating": 4},\n      {"title": "L.A. Confidential (1997)", "rating": 5}\n    ]\n  }\n]\n```'

In [8]:
import json
import pandas as pd

item_title_to_id = dict(zip(items['title'], items['item_id']))


# Clean the JSON string if it starts with ``` or ```json
cleaned = text_response.strip()
if cleaned.startswith("```json"):
    cleaned = cleaned[7:]
if cleaned.startswith("```"):
    cleaned = cleaned[3:]
if cleaned.endswith("```"):
    cleaned = cleaned[:-3]
cleaned = cleaned.strip()

# Parse the JSON string
parsed = json.loads(cleaned)

# Flatten into a list of rating entries
ratings_data = []
for user in parsed:
    user_id = user["user_id"]
    for rec in user["recommendations"]:
        ratings_data.append({
            "user_id": user_id,
            "item_id": item_title_to_id.get(rec["title"], None),  # Use title to get item_id
            "rating": rec["rating"]
        })

# Convert to DataFrame
ratings_df = pd.DataFrame(ratings_data)

# Show result
ratings_df

     user_id  item_id  rating
0         97     12.0       5
1         97     56.0       5
2         97     11.0       4
3         97    182.0       4
4         97     89.0       4
..       ...      ...     ...
195      335    300.0       3
196      335     79.0       4
197      335    265.0       3
198      335     12.0       4
199      335    302.0       5

[200 rows x 3 columns]

In [9]:
random_users

     user_id  age gender     occupation zip_code
96        97   43      M         artist    98006
265      266   62      F  administrator    78756
810      811   40      F       educator    73013
23        24   21      F         artist    94533
30        31   24      M         artist    10003
280      281   15      F        student    06059
568      569   34      M       educator    91903
259      260   40      F         artist    89801
331      332   20      M        student    40504
323      324   21      F        student    02176
422      423   64      M          other    91606
467      468   28      M       engineer    02341
286      287   21      M       salesman    31211
893      894   47      M       educator    74075
868      869   30      M        student    10025
638      639   42      F      librarian    12065
538      539   53      F  administrator    80303
499      500   28      M  administrator    94305
481      482   18      F        student    40256
334      335   45      M      executive    33775

In [10]:
# Get all interactions for the random users
user_interactions = ratings[ratings['user_id'].isin(random_users['user_id'])]
user_interactions.groupby('user_id').size().sort_values(ascending=False)

user_id
894    245
500    225
332    183
639    148
468    143
569     70
24      68
324     66
423     64
97      63
287     62
539     56
869     47
31      36
281     26
482     26
260     24
266     23
335     22
811     21
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(user_interactions, test_size=0.2, random_state=42)

In [12]:
train

       user_id  item_id  rating  timestamp
37500      335      355       3  891567053
30415      500      120       3  883865826
68721      500      727       2  883875041
83800      894      339       4  880415854
28920      500      216       4  883873556
...        ...      ...     ...        ...
71418      468       82       5  875292320
81641      894       61       4  882404572
54394      539      962       4  879788195
91596      639       14       5  891239813
71278      894      310       3  882403366

[1294 rows x 4 columns]

In [14]:
from surprise import Dataset, Reader, SVD, accuracy

# Create a Reader with your rating scale
reader = Reader(rating_scale=(1, 5))

# Convert your pandas DataFrames into Surprise train/test sets
trainset = Dataset.load_from_df(train[['user_id', 'item_id', 'rating']], reader).build_full_trainset()

# Fit the model
algo = SVD()
algo.fit(trainset)

# Make predictions
predictions = algo.test(test[['user_id', 'item_id', 'rating']].values)

# Evaluate
print("RMSE:", accuracy.rmse(predictions))
print("MAE:", accuracy.mae(predictions))

RMSE: 0.9718
RMSE: 0.971792534046233
MAE:  0.7769
MAE: 0.7769294285616793

In [15]:
pseudo_train = pd.concat([ratings_df, train], ignore_index=True)
pseudo_train

      user_id  item_id  rating    timestamp
0          97     12.0       5          NaN
1          97     56.0       5          NaN
2          97     11.0       4          NaN
3          97    182.0       4          NaN
4          97     89.0       4          NaN
...       ...      ...     ...          ...
1489      468     82.0       5  875292320.0
1490      894     61.0       4  882404572.0
1491      539    962.0       4  879788195.0
1492      639     14.0       5  891239813.0
1493      894    310.0       3  882403366.0

[1494 rows x 4 columns]

In [17]:

# Convert your pandas DataFrames into Surprise train/test sets
pseudo_trainset = Dataset.load_from_df(pseudo_train[['user_id', 'item_id', 'rating']], reader).build_full_trainset()

# Fit the model
algo = SVD()
algo.fit(trainset)

# Make predictions
predictions = algo.test(test[['user_id', 'item_id', 'rating']].values)

# Evaluate
print("RMSE:", accuracy.rmse(predictions))
print("MAE:", accuracy.mae(predictions))

RMSE: 0.9721
RMSE: 0.9720677784280938
MAE:  0.7817
MAE: 0.7816602521095437

In [18]:
from collections import defaultdict
import numpy as np

# Group predictions by user
user_errors = defaultdict(list)

for pred in predictions:
    uid = pred.uid  # user id
    err = abs(pred.r_ui - pred.est)  # absolute error
    user_errors[uid].append(err)

In [19]:
user_mae = {uid: np.mean(errors) for uid, errors in user_errors.items()}

# Example: print MAE for first 5 users
for uid, mae in list(user_mae.items())[:5]:
    print(f"User {uid}: MAE = {mae:.4f}")

User 24: MAE = 0.7060
User 539: MAE = 0.8215
User 894: MAE = 0.6714
User 468: MAE = 0.7507
User 500: MAE = 0.7653

In [20]:
user_rmse = {
    uid: np.sqrt(np.mean([e**2 for e in errors]))
    for uid, errors in user_errors.items()
}

# Example: print RMSE for first 5 users
for uid, rmse in list(user_rmse.items())[:5]:
    print(f"User {uid}: RMSE = {rmse:.4f}")

User 24: RMSE = 0.8142
User 539: RMSE = 1.0362
User 894: RMSE = 0.7781
User 468: RMSE = 0.9643
User 500: RMSE = 0.9136

In [21]:
train.groupby('user_id').size().sort_values(ascending=False)

user_id
894    199
500    180
332    147
639    116
468    108
324     55
569     55
24      52
287     52
97      51
423     51
539     47
869     37
31      26
260     22
281     21
266     21
482     19
335     18
811     17
dtype: int64